* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./assets/img/study-hero.jpg") no-repeat 0vw -15vh / 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1,
span,
legend {
    /*Use the Cantana-One font*/
    font-size: 60px;
    -webkit-text-stroke: 3px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

span,
legend {
    font-size: 70px;
    font-weight: bold;
}

legend {
    font-size: 50px;
    font-weight: bold;
}


/* .overlay {
    background: black;
    height: 100%;
    width: 100vw;
    z-index: 2;
    opacity: 75%
} */

.count {
    display: flex;
    justify-content: space-around;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

li,
ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
ul {
    margin-top: 100px;
}